<div data-component="comp-header" class="header header-news">
    <div class="header__wrapper">
        <header class="header__container">
            <div class="header__logo">
                <span class="header__text">mklp-template</span>
            </div>
        </header>
    </div>
</div>
