<div class="swiper-slide-offer-mobile disp-none">
    <div class="swiper-slide-offer-left">
        <p>
            <span class="swiper-slide-offer-left-euros">XY</span>
            <span class="swiper-slide-offer-left-mes">€</span>
            <span class="swiper-slide-offer-left-anios">VAT included</span>
        </p>
    </div>
    <div class="swiper-slide-offer-right">
        <img class="swiper-slide-offer-right-img" src="/images/general/offer.png" alt="Tienda Hackeed">
        <a target="_blank" class="swiper-slide-offer-right-cta" href="https://sls-template.netlify.app/" data-vtm-id="comienzoSuscripcionON" data-vtm-info="lp-top-btn-flujo-h24x22emes2year">
            <span>SHOP</span>
        </a>
    </div>
    <div class="swiper-slide-offer-legal">
        <p>Check our FAQ page to resolve any doubts or contact us at <a href="mailto:damalga@protonmail.com">damalga@protonmail.com</a>
        <br>
        <br>
        Btw... do you know what a serverless technology is? <a href="https://github.com/damalga/sls-template" target="_blank">Check this code</a></p>
    </div>
</div>
