<div class="swiper-slide-offer-mobile disp-none">
    <div class="swiper-slide-txt-title">
        <p>Unas cifras impresionantes, a un precio imbatible</p>
    </div>
    <div class="swiper-slide-offer-left">
        <p>
            <span class="swiper-slide-offer-left-euros">2</span>
            <span class="swiper-slide-offer-left-mes">€/mes</span>
            <span class="swiper-slide-offer-left-anios">durante 1 año</span>
        </p>
    </div>
    <div class="swiper-slide-offer-right">
        <img class="swiper-slide-offer-right-img" src="/images/general/offer.png" alt="Tienda Hackeed">
        <a target="_blank" class="swiper-slide-offer-right-cta" href="#" data-vtm-id="comienzoSuscripcionON" data-vtm-info="lp-top-btn-flujo-h24x22emes2year">
            <span>TIENDA</span>
        </a>
    </div>
    <div class="swiper-slide-offer-legal">
        <p>Consulta nuestra página FAQ para resolver dudas o contacta con damalga@protonmail.com</p>
    </div>
</div>
