<div class="swiper-slide-txt-offer">
    <div class="swiper-slide-txt-offer-left">
        <p>
            <span class="swiper-slide-txt-offer-left-euros">XY</span>
            <span class="swiper-slide-txt-offer-left-mes">€</span>
            <span class="swiper-slide-txt-offer-left-anios">VAT included</span>
        </p>
    </div>
    <div class="swiper-slide-txt-offer-right">
        <img class="swiper-slide-txt-offer-right-img" src="/images/general/offer.png" alt="Tienda Hackeed">
        <a target="_blank" class="swiper-slide-txt-offer-right-cta" href="#">
            <span>GO</span>
        </a>
    </div>
</div>
<div class="swiper-slide-txt-legal">
    <p>Check the page XXX to resolve any doubt or contact with damalga@protonmail.com</p>
</div>
