<div class="swiper-slide-txt-offer">
    <div class="swiper-slide-txt-offer-left">
        <p>
            <span class="swiper-slide-txt-offer-left-euros">100</span>
            <span class="swiper-slide-txt-offer-left-mes">€</span>
            <span class="swiper-slide-txt-offer-left-anios">IVA incluido</span>
        </p>
    </div>
    <div class="swiper-slide-txt-offer-right">
        <img class="swiper-slide-txt-offer-right-img" src="/images/general/offer.png" alt="Tienda Hackeed">
        <a target="_blank" class="swiper-slide-txt-offer-right-cta" href="#" data-vtm-id="comienzoSuscripcionON" data-vtm-info="lp-top-btn-flujo-h24x22emes2year">
            <span>TIENDA</span>
        </a>
    </div>
</div>
<div class="swiper-slide-txt-legal">
    <p>Consulta nuestra página FAQ para resolver dudas o contacta con damalga@protonmail.com</p>
</div>
