<div class="swiper-slide-txt-offer">
    <div class="swiper-slide-txt-offer-left">
        <p>
            <span class="swiper-slide-txt-offer-left-euros">XY</span>
            <span class="swiper-slide-txt-offer-left-mes">€</span>
            <span class="swiper-slide-txt-offer-left-anios">VAT included</span>
        </p>
    </div>
    <div class="swiper-slide-txt-offer-right">
        <img class="swiper-slide-txt-offer-right-img" src="/images/general/offer.png" alt="Tienda Hackeed">
        <a target="_blank" class="swiper-slide-txt-offer-right-cta" href="https://sls-template.netlify.app/">
            <span>SHOP</span>
        </a>
    </div>
</div>
<div class="swiper-slide-txt-legal">
    <p>Check our FAQ page to resolve any doubts or contact us at <a href="mailto:damalga@protonmail.com">damalga@protonmail.com</a>
    <br>
    <br>
    Btw... do you know what a serverless technology is? <a href="https://github.com/damalga/sls-template" target="_blank">Check this code</a></p>
</div>
