<!--Slide-3-->
<div id="swiper-slide-3" class="swiper-slide swiper-slide-3">
    <div class="swiper-slide-img">
        <div class="swiper-slide-img-groups">
            <div class="swiper-slide-txt-title">
                <span id="swiper-slide-txt-title-top-slide-3" class="swiper-slide-txt-title-top">Explore our</span><br>
                <span id="swiper-slide-txt-title-bottom-slide-3" class="swiper-slide-txt-title-bottom">features</span>
            </div>
            <img class="swiper-slide-img-group-1" src="/images/slides/product-3/1.png" alt="image 1">
            <img class="swiper-slide-img-group-2" src="/images/slides/product-3/2.png" alt="image 2">
            <img class="swiper-slide-img-group-3" src="/images/slides/product-3/3.png" alt="image 3">
        </div>
    </div>

    <div class="swiper-slide-txt">
        <div class="swiper-slide-txt-top">
            <div class="swiper-slide-txt-subtitle">
                <p>Advanced capabilities at your fingertips</p>
            </div>
            <p class="swiper-slide-img-group-txt swiper-slide-img-group-txt-slide-3">
                <span class="swiper-slide-img-group-txt-top" id="swiper-slide-img-group-txt-top-slide-3">
                    <!--Load text in script text.js-->
                </span>
                <span class="swiper-slide-img-group-txt-bottom" id="swiper-slide-img-group-txt-bottom-slide-3">
                    <!--Load text in script text.js-->
                </span>
            </p>
            <div class="swiper-slide-txt-paragraph">
                <p>Unlock powerful features designed to enhance your workflow. Visit our <a href="#">resource center</a> or explore <a href="#">integration options</a> for seamless connectivity.</p>
            </div>
        </div>
        <div class="swiper-slide-txt-bottom">
            {{> offer}}
        </div>
    </div>

    <div class="swiper-slide-txt-mobile disp-none">
        <div class="swiper-slide-txt-title">
            <span id="swiper-slide-txt-title-top-slide-3" class="swiper-slide-txt-title-top">Explore our</span><br>
            <span id="swiper-slide-txt-title-bottom-slide-3" class="swiper-slide-txt-title-bottom">features</span>
        </div>
        <div class="swiper-slide-txt-paragraph">
            <p>Unlock powerful features designed to enhance your workflow. Visit our <a href="#">resource center</a> or explore <a href="#">integration options</a> for seamless connectivity.</p>
        </div>
    </div>

    <div class="swiper-slide-img-mobile disp-none">
        <p class="swiper-slide-img-group-txt swiper-slide-img-group-txt-slide-3">
            <span class="swiper-slide-img-group-txt-top" id="swiper-slide-img-group-txt-top-slide-3-mobile">
                <!--Load text in script text.js-->
            </span>
            <span class="swiper-slide-img-group-txt-bottom" id="swiper-slide-img-group-txt-bottom-slide-3-mobile">
                <!--Load text in script text.js-->
            </span>
        </p>
        <img class="swiper-slide-img-group-3" src="/images/slides/product-3/0.png" alt="image 0">
    </div>
</div>
