<!--Slide-1-->
<div id="swiper-slide-2" class="swiper-slide swiper-slide-2">

    <div class="swiper-slide-img">
        <div class="swiper-slide-img-groups">
            <div class="swiper-slide-txt-title">
                <span id="swiper-slide-txt-title-top-slide-2" class="swiper-slide-txt-title-top">Discover</span><br>
                <span id="swiper-slide-txt-title-bottom-slide-2" class="swiper-slide-txt-title-bottom">our platform</span>
            </div>
            <img class="swiper-slide-img-group-1" src="/images/slides/product-2/1.png" alt="image 1">
            <img class="swiper-slide-img-group-2" src="/images/slides/product-2/2.png" alt="image 2">
            <img class="swiper-slide-img-group-3" src="/images/slides/product-2/3.png" alt="image 3">
        </div>
    </div>

    <div class="swiper-slide-txt">
        <div class="swiper-slide-txt-top">
            <div class="swiper-slide-txt-subtitle">
                <p>Innovative tools for every project</p>
            </div>
            <p class="swiper-slide-img-group-txt swiper-slide-img-group-txt-slide-2">
                <span id="swiper-slide-img-group-txt-top-slide-2" class="swiper-slide-img-group-txt-top">25+</span>
                <span id="swiper-slide-img-group-txt-bottom-slide-2" class="swiper-slide-img-group-txt-bottom">specialized modules for
                    <span id="swiper-slide-img-group-txt-bold-bottom-slide-2" class="bold-italic">
                        <!--Load text in script text.js-->
                    </span>
                </span>
            </p>
            <div class="swiper-slide-txt-paragraph">
                <p>Access a wide range of <a href="#">innovative solutions</a> tailored to your needs. Browse our <a href="#">documentation</a> and check out <a href="#">user guides</a> to get the most out of the platform.</p>
            </div>
        </div>
        <div class="swiper-slide-txt-bottom">
            {{> offer}}
        </div>
    </div>

    <div class="swiper-slide-txt-mobile disp-none">
        <div class="swiper-slide-txt-title">
            <span id="swiper-slide-txt-title-top-slide-2" class="swiper-slide-txt-title-top">Discover</span><br>
            <span id="swiper-slide-txt-title-bottom-slide-2" class="swiper-slide-txt-title-bottom">our platform</span>
        </div>
        <div class="swiper-slide-txt-paragraph">
            <p>Access a wide range of <a href="#">innovative solutions</a> tailored to your needs. Browse our <a href="#">documentation</a> and check out <a href="#">user guides</a> to get the most out of the platform.</p>
        </div>
    </div>

    <div class="swiper-slide-img-mobile disp-none">
        <p class="swiper-slide-img-group-txt swiper-slide-img-group-txt-slide-2">
            <span id="swiper-slide-img-group-txt-top-slide-2" class="swiper-slide-img-group-txt-top">25+</span>
            <span id="swiper-slide-img-group-txt-bottom-slide-2" class="swiper-slide-img-group-txt-bottom">specialized modules for
                <span id="swiper-slide-img-group-txt-bold-bottom-slide-2-mobile" class="bold-italic">
                    <!--Load text in script text.js-->
                </span>
            </span>
        </p>
        <img class="swiper-slide-img-group-3" src="/images/slides/product-2/0.png" alt="image 0">
    </div>
</div>
