<!--Slide-1-->
<div id="swiper-slide-4" class="swiper-slide swiper-slide-4">

    <div class="swiper-slide-img">
        <div class="swiper-slide-img-groups">
            <div class="swiper-slide-txt-title">
                <span id="swiper-slide-txt-title-top-slide-4" class="swiper-slide-txt-title-top">Access our</span><br>
                <span id="swiper-slide-txt-title-bottom-slide-4" class="swiper-slide-txt-title-bottom">resources</span>
            </div>
            <img class="swiper-slide-img-group-1" src="/images/slides/product-4/1.png" alt="image 1">
            <img class="swiper-slide-img-group-2" src="/images/slides/product-4/2.png" alt="image 2">
            <img class="swiper-slide-img-group-3" src="/images/slides/product-4/3.png" alt="image 3">
        </div>
    </div>

    <div class="swiper-slide-txt">
        <div class="swiper-slide-txt-top">
            <div class="swiper-slide-txt-subtitle">
                <p>Everything you need in one place</p>
            </div>
            <p class="swiper-slide-img-group-txt swiper-slide-img-group-txt-slide-4">
                <span class="swiper-slide-img-group-txt-top" id="swiper-slide-img-group-txt-top-slide-4">
                    <!--Load text in script text.js-->
                </span>
                <span class="swiper-slide-img-group-txt-bottom" id="swiper-slide-img-group-txt-bottom-slide-4">
                    <!--Load text in script text.js-->
                </span>
            </p>
            <div class="swiper-slide-txt-paragraph">
                <p>Access our extensive library of resources and materials. <a href="#">Learn more</a> about what we offer and how it can benefit you.</p>
            </div>
        </div>
        <div class="swiper-slide-txt-bottom">
            {{> offer}}
        </div>
    </div>

    <div class="swiper-slide-txt-mobile disp-none">
        <div class="swiper-slide-txt-title">
            <span id="swiper-slide-txt-title-top-slide-4" class="swiper-slide-txt-title-top">Access our</span><br>
            <span id="swiper-slide-txt-title-bottom-slide-4" class="swiper-slide-txt-title-bottom">resources</span>
        </div>
        <div class="swiper-slide-txt-paragraph">
            <p>Access our extensive library of resources and materials. <a href="#">Learn more</a> about what we offer and how it can benefit you.</p>
        </div>
    </div>

    <div class="swiper-slide-img-mobile disp-none">
        <p class="swiper-slide-img-group-txt swiper-slide-img-group-txt-slide-4">
            <span class="swiper-slide-img-group-txt-top" id="swiper-slide-img-group-txt-top-slide-4-mobile">
                <!--Load text in script text.js-->
            </span>
            <span class="swiper-slide-img-group-txt-bottom" id="swiper-slide-img-group-txt-bottom-slide-4-mobile">
                <!--Load text in script text.js-->
            </span>
        </p>
        <img class="swiper-slide-img-group-3" src="/images/slides/product-4/0.png" alt="image 0">
    </div>
</div>
