<!--Swiper-->
  <div class="swiper swiperTest">
    <!--Swiper-Wrapper--->
    <div class="swiper-wrapper">
      {{>slide-1}}
      {{>slide-2}}
      {{>slide-3}}
      {{>slide-4}}
    </div>
    {{>offer-mobile}}
    <!--End-Swiper-Wrapper--->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
<!--End-Swiper-->