.index-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 4rem 2rem;
    a{
        background-color: $primary-yellow;
        color: #fff;
        font-weight: bold;
        padding: 1.2rem;
        margin: .4rem;
        border-radius: .8rem;
    }
}